x64/
x86/
ARM64/
Debug/
Release/

*.obj
*.lib
*.exp
*.ilk
*.pdb
*.tlog
*.log
*.suo
.vs/
ipch/
*.aps
*.user
*.ncb
*.vcproj.*.user
*.vcxproj.filters
*.bak
*.sbr
*.bsc
*.vsp
*.epp
*.rcproj
*.vcw
*.code-workspace
*.vspscc
*.vssscc
*.vbscc
*.sdf
*.opensdf
*.docstates

*.sys


!x64/Release/IGWinx64Driver.sys

packages/
*.nuget.props